/* ___________Global variables___________ */
:root {
    --blue: rgb(34, 34, 228);
    --yellow: blanchedalmond;
}

body{
    background-color: rgb(31, 30, 30);
}


/* ___________Home Page Styling___________ */
h1{
    font-size: 100px;
    color: var(--blue);
    /* creating that space (delete once animation is insert) */
    margin-bottom: 8rem;
}

h2{
    font-style: italic;
    font-size: 40px;
    color:var(--yellow);
}

/* layout for start screen (use also on game page, consider moving to another section)*/
.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}

/* layout for start screen (use also on game page, consider moving to another section)*/
.quiz-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Format for buttons */
.btn{
    font-size: 26px;
    color:var(--yellow);
    padding: 25px 10px 25px;
    margin: 20px;
    border-radius: 10px;
    background-image: radial-gradient(var(--blue), rgba(0, 0, 0, 0.765));
    text-decoration: none;
}

.btn:hover{
    cursor: pointer;
    transition: 300ms;
    transform: scale(1.35);
    background-color: var(--blue);
}




/* ___________Game Page Styling___________ */

/* format of page*/
.choice-container {
    display: flex;
    background-color: var(--blue);
    margin-bottom: 60px;
    padding: 20px;
    font-size: 25px;
}

/* effect when hoovering over the choices */
.choice-container:hover {
    cursor: pointer;
    transition: 300ms;
    transform: scale(1.05);
    color: var(--blue);
    background-color: var(--yellow);
}

/* Spacing around the letter choice for the answer */
.choice-letter{
    padding: 0px 30px;
}

/* Control how the question is displayed */
#displayed-question{
    padding: 60px 0px;
    font-size: 35px;
}

/* ___________Multi page styles___________ */


/* default text color */
body {
    color: var(--yellow);
}


/* ___________Leaderboard page styles___________ */
form {
    padding-bottom: 80px;
    font-size: 50px;
}

input {
    height: 50px;
    width: 400px;
    font-size: 25px;
}